<div class="container">
  <div class="jumbotron">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSH-Kf929JHpK8FC-68br67hS2iDzU0cSBE4zwZrlQJ3GqgZvs2&usqp=CAU"
      width="auto" height="auto">

    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0dLewX3uNTD3KmJgoPiBKOpnZU6M16KSBhX21Yo3o-S9yr5g8&usqp=CAU"
      width="auto" height="auto">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSH-Kf929JHpK8FC-68br67hS2iDzU0cSBE4zwZrlQJ3GqgZvs2&usqp=CAU"
      width="auto" height="auto">

    <h1>Try Burgers from Different States!!!</h1>
  </div>

  <h2>Pick a State's Special Burger or Make a Burger from Where you Live!</h2>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <h1>Burgers to Eat!</h1>
        <ul class="list group">

          {{#each burgers}}
          {{#unless dataValues.devoured}}

          <li>{{dataValues.burger_name}}</li>
          <div class="input-group">
            <form class="devourForm" value={{dataValues.id}}>
              <input type="hidden" id="burgersId" type="text" value={{dataValues.id}}><br>
              <button type="submit" class="brn brn-warning" id="devour"> Devour! </button>
            </form>


            {{/unless}}
            {{/each}}
        </ul>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="back"><strong>
          </strong>
        </div>
        <div class="panel-body">

          {{#each burgers}}
          {{#if dataValues.devoured}}
          <li>{{dataValues.burger_name}}</li>
          {{/if}}
          {{/each}}



          <form class="devourForm" value={{dataValues.id}}>
            <input type="hidden" id="burgersId" type="text" value={{dataValues.id}}><br>
            {{!-- <button type="submit" class="brn brn-warning" id="devour"> Devour! </button> --}}
          </form>

          <div class="col-md-10 col-md-offset-1"></div>
        </div>
      </div>
    </div>
  </div>

  <h2>Create a Burger</h2>

  <form class="create-form" action="/api/burgers" method="POST">

    <div class="form-group">
      <label for="burgerName:">Burger Name:</label>
      <input type="text" class="form-control" id="burgerName" name="name">
    </div>

    <button type="submit" class="brn brn-warning" id="submitB">Submit</button>
  </form>
</div>